BeautifulSoup4==4.12.3
Flask==3.1.0
Flask-Babel==3.1.0
Flask-Bootstrap==3.3.7.1
Flask-CORS==4.0.0
Flask-Caching==1.11.0
Flask-Login==0.6.2
Flask-Limiter==3.9.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
Flask-SocketIO==5.3.2
Flask-WTF==1.1.1
Faker==19.6.0
icalendar==5.0.7
python-dateutil==2.8.2
pytz==2023.3
requests==2.32.3
pytest==7.4.0
pytest-flask==1.3.0
pytest-mock==3.14.0
WTForms==3.0.1